body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.top-section {
    background-image: url('/plano-de-fundo-header.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0; /* Ajuste conforme necessário */
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2980b9;
}
#quad{
    padding:2%;
    display: flex;
    justify-content: center;
    background: #2980b9;
    
}
footer{
    background: #f6f6f6;
}
p h5{
    text-align: center;
}
